 <!-- Main content -->
        <section class="content">  
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Products</h3>
                  <div class="box-tools">
                    <div class="input-group">
                      <input type="text" name="table_search" ng-model="searchKeyword" class="form-control input-sm pull-right" style="width: 300px;height:37px" placeholder="Search"/>
                      <div class="input-group-btn">
                          <a class="btn btn-primary pull-right" href="#/addproducts"> Add Products</a>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div  ng-controller="MyControllereditproducts"  class="box-body table-responsive no-padding">
                  <table class="table table-hover" >
                    <tr>
                      <th>productid</th>
                      <th>name</th>
                      <th>points</th>
                      <th>offer details</th>
                      <th>reward points</th>
                      <th>price </th>
                       <th>status</th>
                      <th>logo </th>
                      <th> </th>
                    </tr>       
                    <tr class="success-{{outlet.done}}" ng-repeat="product in products | filter: searchKeyword | startFrom:currentPage*pageSize | limitTo:pageSize ">    
                    <td>{{product.productid}}</td>
                    <td>{{product.productname}}</td>
                    <td>{{product.userearningpoints}}</td>
                    <td>{{product.offername}}</td>
                    <td>{{product.rewardpoints}}</td>
                    <td>{{product.productprice}}</td>
                    <td><span class="{{product.productstatus=='active' ? 'label label-success':'label label-danger'}}">{{product.productstatus}}</span></td>
                    <td><img src="{{product.productimagea}}" width="50" height="50" /></td>
                    <td>
                          <button type="button" ng-click="editproduct($index)">edit</button>
                          <button type="button" ng-click="deleteproduct($index)">delete</button>
                        
                    </td>
                    </tr>    
                  </table>
                 <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
                
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
          </div>
        </section><!-- /.content -->
